#view-fps {
    padding: 8px;
    position: absolute;
    background-color: rgb(20,20,20); opacity: 0.90;
    color: white;
    text-align: center;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
}

#view-fps div {
    display: inline-block;
    font-family:"Arial Black", Gadget, sans-serif;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
}