.health_bar {
    position:absolute;
    width:308px;
    height:12px;
    line-height:13px;
    top:20px;
    left:30px;
    padding:0 0 0 0px;
    background-color:#2c0500;
    border:3px solid #e1e1e1;
    border-radius:4px;
    font-size:16px;
}


.health_bar .icon{
    position:absolute;
    width:36px;
    height:36px;
    top:-12px;
    left:-20px;
    background: url('../img/interface_icons_small.png');
    z-index:4;
}

.health_bar .text{
    position:absolute;
    width:36px;
    height:36px;
    top:-1px;
    left:25px;
    z-index:2;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}

.health_bar .progress{
    position:absolute;
    width: 40%;
    height:100%;
    top:0px;
    left:0px;
    background: #b41e0c
}


.secondary_bar {
    position:absolute;
    width:305px;
    height:12px;
    line-height:13px;
    top:20px;
    right:30px;
    padding:0 0 0 0px;
    background-color:#192500;
    border:3px solid #e1e1e1;
    border-radius:4px;
    font-size:16px;
    font-weight:900;

}


.secondary_bar .icon{
    position:absolute;
    width:51px;
    height:36px;
    top:-12px;
    right:-25px;
    background: url('../img/interface_icons_small.png') -36px 0px no-repeat;
    z-index:4;
    text-align:center;
    line-height:35px;
    text-shadow:0 0 6px #000;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}

.secondary_bar .text{
    position:absolute;
    width:36px;
    height:36px;
    top:-1px;
    right:65px;
    z-index:2;
    font-weight: 900;
    text-align:right;
    font-family: "Arial Black", Arial, sans-serif;
}

.secondary_bar .progress{
    position:absolute;
    width: 30%;
    height:100%;
    top:0px;
    right:0px;
    background: #70a205
}

.button {
    background-color:#000;
    border:3px solid #e1e1e1;
    padding:5px;
    width:120px;
    text-align:center;
    text-transform:none;
    border-radius:4px;
    cursor:pointer;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}

.button.inventory_show {
    position:absolute;
    left:50%;
    margin-left:-68px;
    top:9px;
}
.button.close_inventory {
    position:absolute;
    top:140px;
    left:0;
}

.button:hover {
    -webkit-transform: scale(0.96) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(0.96) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform: scale(0.96) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}

.stage_number {
    position:absolute;
    background-color:#000;
    border:3px solid #e1e1e1;
    padding:0 5px;
    width:120px;
    text-align:center;
    text-transform:none;
    border-radius:4px;
    cursor:default;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
    bottom:20px;
    left:20px;
    opacity:0.8
}