<div class="player_inventory">
	<div class="player_stats">
		<h1>Your stats</h1>
		<div class="row"><div class="name">Health</div><div class="value">10pt</div></div>
		<div class="row"><div class="name">Attack</div><div class="value">10pt</div></div>
		<div class="row"><div class="name">Defence</div><div class="value">10pt</div></div>
		<div class="row"><div class="name">Critical</div><div class="value">10%</div></div>
		<div class="row"><div class="name">Evasion</div><div class="value">10%</div></div>
		<div class="row"><div class="name">Accuracy</div><div class="value">10%</div></div>
	</div>

	<div class="player_items">
		<div class="slot" style="background-image:url(img/proficency_heart.png);">
			<div class="tooltip"><div class="tip"></div><h1>Some caption</h1><p>Some description is super awesome object. Yaay!</p><p><b>Damage +10</b></p></div>
		</div>
		<div class="slot" style="background-image:url(img/proficency_health.png); ">
			<div class="tooltip"><div class="tip"></div><h1>Some caption</h1><p>Some description is super awesome object. Yaay!</p><p><b>Damage +10</b></p></div>
		</div>
		<div class="slot" style="background-image:url(img/proficency_air.png); ">
			<div class="tooltip"><div class="tip"></div><h1>Some caption</h1><p>Some description is super awesome object. Yaay!</p><p><b>Damage +10</b></p></div>
		</div>
		<div class="slot"></div>
		<div class="slot"></div>
		<div class="slot"></div>
		<div class="slot"></div>
		<div class="slot"></div>
		<div class="slot"></div>
		<div class="slot"></div>
	</div>

	<div class="proficiency_items">
		<div class="slot">
			<div class="tooltip"><div class="tip"></div><h1>Some caption</h1><p>Some description is super awesome object. Yaay!</p><p><b>Damage +10</b></p></div>
		</div>
		<div class="slot"></div>
		<div class="slot"></div>
	</div>

	<div class="button close_inventory">Close</div>
</div>