.intro_scr {
    z-index:99999;
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,1);
}

.intro_scr .game_title{
    position:absolute;
    width:100%;
    height:40px;
    left:0;
    top:240px;
    font-size:18px;
    text-transform:uppercase;
    text-align:center;
    font-size:50px;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}

.intro_scr .authors{
    position:absolute;
    width:100%;
    height:40px;
    left:0;
    top:320px;
    font-size:18px;
    text-transform:uppercase;
    text-align:center;
    font-weight:normal;
    font-size:50px;
    font-size:14px;
    color:#aaa;
}
.intro_scr .authors span{
    color:#aaa;
    display:block;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}
.intro_scr .authors span .small{
    text-transform:none;
    color:#aaa;
    font-weight:normal !important;
    display:inline;
}