<div class="stage_number">Stage 1</div>
<div class="health_bar">
	<div class="icon"></div>
	<div class="text">100/100</div>
	<div class="progress"></div>
</div>
<div class="secondary_bar">
	<div class="icon">5</div>
	<div class="text">100/100</div>
	<div class="progress"></div>
</div>

<div class="button inventory_show">
	Inventory
</div>