.loading_scr {
    z-index:99999;
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,1);
}
.loading_scr .game_logo{
    position:absolute;
    width:68px;
    height:68px;
    background: url('../img/game_logo.png') 0px 0px;
    top:47%;
    left:50%;
    margin-top:-34px;
    margin-left:-34px;
}
.loading_scr .progress_bar{
    position:absolute;
    width:157px;
    height:5px;
    top:59%;
    left:50%;
    margin-left:-77px;
    background-color:#404040;
}
.loading_scr .progress_bar .progress{
    position:absolute;
    width:0%;
    height:100%;
    left:0;
    top:0;
    background-color:#9a9a9a;
}

.loading_scr .powered_by{
    position:absolute;
    width:200px;
    height:40px;
    left:50%;
    margin-left:-107px;
    bottom:75px;
    font-size:14px;
    text-transform:uppercase;
    text-align:center;
    font-family:Arial, sans-serif;
    font-weight:normal;
    color:#777;
    font-weight:bold;
}
.loading_scr .progress_bar .text{
    position:absolute;
    width:200px;
    height:40px;
    left:0;
    top:-27px;
    font-size:18px;
    text-transform:uppercase;

    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}

.loading_scr .tech_logos{
    position:absolute;
    width:175px;
    height:70px;
    background: url('../img/tech_logo.png') 0px 0px;
    bottom:20px;
    left:50%;
    margin-top:-34px;
    margin-left:-85px;
    opacity:0.5;

    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
}
.loading_scr .tech_logos:hover{
    cursor:pointer;
    opacity:1;
}