.critical_strike{
    position:absolute;
    background: url('../img/crit_strike_bubble.png') 0px 0px;
    height:70px;
    width:140px;
}
.dmg_number{
    position:absolute;
    height:24px;
    width:60px;
    line-height:24px;
    text-align:center;
    font-size:24px;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* -- This file contains keyframes for all of the animations -- */
/* -- Also the classes for using animations ------------------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */




/* ------------------------------------------------------------ */
/* -------------- Classes for usin animation ------------------ */
/* ------------------------------------------------------------ */


.shake_furiously {
    -webkit-animation-name: shake_furiously;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: forward;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;

    -moz-animation-name: shake_furiously;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: forward;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0s;
}

.float_up {
    -webkit-animation-name: float_up;
    -webkit-animation-duration:500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: forward;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;

    -moz-animation-name: float_up;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: forward;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0s;
}


/* ------------------------------------------------------------ */
/* ---------- Predefined keyframes for animations ------------- */
/* ------------------------------------------------------------ */


/* ---------- rotate360_continuously ------------- */
@-webkit-keyframes shake_furiously {
0% {
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
2% {
	-webkit-transform: scale(0.9) rotate(0deg) translate(2px, -3px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
4% {
	-webkit-transform: scale(1) rotate(0deg) translate(-2px, -3px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
6% {
	-webkit-transform: scale(1) rotate(0deg) translate(5px, 2px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
8% {
	-webkit-transform: scale(0.9) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
10% {
	-webkit-transform: scale(1) rotate(0deg) translate(5px, -2px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
12% {
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }

100% {
	-webkit-transform: scale(1) rotate(0deg) translate(0px, -60px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
}
@-moz-keyframes shake_furiously {
0% {
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
2% {
	-moz-transform: scale(0.9) rotate(0deg) translate(2px, -3px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
4% {
	-moz-transform: scale(1) rotate(0deg) translate(-2px, -3px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
6% {
	-moz-transform: scale(1) rotate(0deg) translate(5px, 2px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
8% {
	-moz-transform: scale(0.9) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
10% {
	-moz-transform: scale(1) rotate(0deg) translate(5px, -2px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
12% {
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }

100% {
	-moz-transform: scale(1) rotate(0deg) translate(0px, -60px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
}

/* ---------- rotate360_continuously ------------- */
@-webkit-keyframes float_up {
0% {
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }


100% {
	-webkit-transform: scale(1) rotate(0deg) translate(0px, -60px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
}
@-moz-keyframes shake_furiously {
0% {
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }

100% {
	-moz-transform: scale(1) rotate(0deg) translate(0px, -60px) skew(0deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  }
}

