<div id="loading_scr">
	<div class="progress_block">
		<div class="loading_logo">
			<div class="inside_circle">
				<div class="wawe animate_wawe"></div>
				<div class="inside_animation"></div>
			</div>
		</div>
		<div class="percent">0%</div>
		<div class="main_content">
			<div class="main_text"></div>
			<div class="secondary_text">SCRIPT</div>
			<div class="progressbar">
				<div class="bar"></div>
			</div>
		</div>
	</div>
</div>