.player_inventory {
    position:absolute;
    width:865px;
    height:300px;
    top:50px;
    left:18px;
}
.player_inventory .player_stats {
    position:absolute;
    width:160px;
    padding:10px;
    top:-40px;
    left:340px;
    background-color:#000;
    border:3px solid #e1e1e1;
}
.player_inventory .row .name{
    position:absolute;
    width:100%;
    height:100%;
    text-align:left;
    font-size:16px;
    font-weight:normal;
}
.player_inventory .row .value{
    position:absolute;
    width:100%;
    height:100%;
    font-size:16px;
    text-align:right;
    font-weight:normal;
}
.player_inventory .row {
    position:relative;
    width:160px;
    padding:5px 0 5px;
    height:16px;
}
.player_inventory .player_stats h1 {
    position:relative;
    font-size:16px;
    line-height:16px;padding:0px 0 5px;

    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;

}
.player_inventory .player_items {
    position:absolute;
    width:365px;
    height:200px;
    top:0px;
    left:0px;
}
.player_inventory .proficiency_items {
    position:absolute;
    width:365px;
    height:200px;
    top:0px;
    right:0px;
}
.slot {
    background-position:center center; background-repeat:no-repeat;
}
.player_inventory .player_items .slot{
    float:left;
    margin:0 6px 6px 0px;
}
.player_inventory .proficiency_items .slot{
    float:right;
    margin:0 0px 6px 6px;
}
.player_inventory .player_items .slot, .player_inventory .proficiency_items .slot{
    position:relative;
    width:54px;
    height:54px;
    background-color:#000;
    border:3px solid #e1e1e1;
    cursor:pointer;
}

.tooltip {
    position:absolute;
    background-color:#d8d8d8;
    border:3px solid #9f9393;
    z-index:999;
    width:200px;
    top:-3px;
    right:-232px;
    color:#333;
    padding:4px 10px;
    opacity:0;
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    pointer-events:none
}

.proficiency_items .tooltip {

    right:auto;
    left:-232px;
}

.proficiency_items .tooltip .tip{
    background: url('../img/tooltip_tip_reversed.png') 0px 0px;
    right:-14px;
    left:auto;
}

.tooltip h1{
    font-size:16px;
    color:#333;
    padding:3px 0;
    font-weight:900;
    font-weight:black;

    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}

.tooltip p{
    font-weight:normal;
    font-size:14px;
    color:#333;
    padding:3px 0;
}

.tooltip p b{

    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
}


.tooltip .tip{
    position:absolute;
    width:17px;
    height:12px;
    top:20px;
    left:-14px;
    background: url('../img/tooltip_tip.png') 0px 0px;
    z-index:4;
}

.slot:hover .tooltip {
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    opacity:1;
}