a, a:-webkit-any-link {
    text-decoration:none;
    color:#fff;
}

*, *:hover, *:active, *:focus{ -webkit-tap-highlight-color: rgba(0,0,0,0);}
html,body{ width:100%; height:100%; }
body{ overflow:hidden; background-color:#131313; }

body, div, span, ul, ol, li, h1, h2, h3, h4, h5, h6, input, p, img{
    color:#FFF; margin:0; padding:0; outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none;
    font-weight:bold; list-style-type:none;
    font-family:arial, serif;
}

#view{ width: 100%;height:100%; }