<div class="loading_scr"">
	<div class="game_logo"></div>
	<div class="progress_bar">
		<div class="text">Game loading</div>
		<div class="progress"></div>
	</div>
	<div class="powered_by">Powered by</div>
	<div class="tech_logos"></div>
</div>