#loading_scr {
    background-color:#eaecee;
    width:100%;
    height:100%;
    position:absolute;
    text-transform:uppercase;
    font-weight:bold;
    z-index: 100;
}

#loading_scr .progress_block{
    top:56%;
    left:50%;
    margin-left:-300px;
    position:relative;
    width:600px;
}
#loading_scr .percent{
    position:relative;
    float:left;
    height:78px;
    font-family:impact;
    text-transform:none;
    color:#bfc1c4;
    font-size:64px;
    border-right:2px solid #bfc1c4;
    width:150px;
    text-align:right;
    padding:0 5px 0 0;
}
#loading_scr .main_content{
    height:77px;
    position:relative;
    float:left;
    padding:0 0 0 8px;
    font-family:impact;
    text-transform:none;
    color:#25292e;
    font-size:28px;
    width:400px;
}
#loading_scr .main_text {
    font-family:impact;
    text-transform:none;
    color:#25292e;
    font-size:34px;
    padding:7px 0 0 0;
    line-height:34px;
}
#loading_scr .secondary_text {
    position:absolute;
    top:43px;
    font-family:verdana;
    text-transform:none;
    font-weight:normal;
    color:#52575c;
    font-size:10px;
    line-height:10px;
    padding:0;
}


#loading_scr .progressbar {
    position:absolute;
    bottom:10px;
    height:8px;
    width:100%;
    background:#bfc1c4;
}
#loading_scr .progressbar .bar {
    position:absolute;
    bottom:0px;
    left:0;
    height:100%;
    width:0%;
    background:#25292e;
}
#loading_scr .loading_logo {
    position:absolute;
    top:-160px;
    left:50%;
    margin-left:-50px;
    height:107px;
    width:107px;
}
#loading_scr .inside_circle {
    position:absolute;
    height:107px;
    width:107px;
    overflow:hidden;
    background:#c0c1c4;
}
#loading_scr .inside_circle .inside_animation {
    position:absolute;
    height:107px;
    width:107px;
    background-image:url(../img/circle_bg.png);
    overflow:hidden;
    left:0px;
}
#loading_scr .inside_circle .wawe{
    position:absolute;
    bottom:0;
    height:50%;
    width:107px;
    background-image:url(../img/wawes.png);
    background-position:50% 0%;
    background-repeat:repeat-x;
    overflow:hidden;
    left:0px;
}

.bottom_bar {
    position:absolute;
    bottom:0px;
    height:40px;
    width:100%;
    background:#bfc1c4;
}

.bottom_bar .mightyEngine {
    float: right;
    color: #25292E;
    font-size: 27px;
    margin-top: 3px;
    margin-right: 38px;
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* -- This file contains keyframes for all of the animations -- */
/* -- Also the classes for using animations ------------------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


/* ------------------------------------------------------------ */
/* -------------- Classes for usin animation ------------------ */
/* ------------------------------------------------------------ */

.animate_wawe {
    -webkit-animation-name: animate_wawe;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;

    -moz-animation-name: animate_wawe;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: forward;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0s;


}

/* ------------------------------------------------------------ */
/* ---------- Predefined keyframes for animations ------------- */
/* ------------------------------------------------------------ */


/* ---------- pop jump ------------- */
@-webkit-keyframes animate_wawe {
0%   {
	background-position:0% 0%;
	}


100% {
		background-position:100% 0%;
  }
}